<!DOCTYPE html>
<html lang="en">

<%- include('./partials/head.ejs') %>

<body>

    <%- include('./partials/nav.ejs') %>
    
    <div class="about content">
        <h2>About us</h2>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Consectetur similique quibusdam nam, error alias, neque consequatur assumenda adipisci cupiditate veritatis placeat soluta dignissimos harum architecto cumque officiis beatae eveniet voluptates!</p>
    </div>

    <%- include('./partials/footer.ejs') %>
</body>

    
</html>